.header {
    font-size: 3rem;
    position: relative;
    width:866px;
    margin:auto;
    max-width:1100px;
    margin-top: 70px;
}

.center {
    position: relative;
    width:866px;
    margin:auto;
    max-width:1100px;
    margin-top:50px;
}

.learning-list {
    li {
        font-family: "baltica",serif;
        max-width:866px !important;
        color: #888787 !important;
    }
    padding-bottom:70px;
}